@import url('/home/pro/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 0;
    font-family:  FontAwesome5FreeSolid;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @background;
    /*color: #d33682;*/
    /*color: #657b83;*/
    /*transition-property: background-color;*/
    /*transition-duration: .5s;*/
}

window#waybar.hidden {
    opacity: 0.2;
}

/*#workspaces {*/
    /*border-bottom: 1px solid #586e75;*/
/*}*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @background;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    /*background-color: #073642;*/
    border-bottom: 3px solid @background;
}

#workspaces button.urgent {
    background-color: @color2;
}

#mode {
    background-color: @foreground;
    border-bottom: 1px solid #dc322f;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    /*padding: 0 10px;*/
    /*margin: 0 2px;*/
    /*margin:     0px 6px 0px 10px;*/
    /*margin: 2px;*/
    padding: 0 6px;
    color: @background;
}

@keyframes blink {
    to {
        background-color: #d33682;
        color: #93a1a1;
    }
}

label:focus {
    background-color: #073642;
}

#custom-spotify_previous, #custom-spotify_playpause, #custom-spotify_next, #custom-spotify_status {
    /*font-size: 20px;*/
    padding: 0 3px;
    color: #81A1C1;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
